@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700,400,800");

.background {
  margin: 0;
  height: 100vh;
  background-color: RGB(235, 247, 246);
}

.main-grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1.3fr;
  grid-template-rows: 2fr 3fr 1fr;
  height: 100vh;
}

.main {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 13rem;
}

.navbar {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 5vh;
}

.navbar h3 {
  display: inline;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1.1rem;
  margin: 2rem;
}

.image-div {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 8vh;
}

.main h1 {
  margin: 0px;
  font-family: "Montserrat", Helvetica, Arial, serif;
  color: rgba(255, 125, 107, 1);
  font-size: 5em;
  font-style: normal;
  font-weight: 800;
}

.main h2 {
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  margin-right: 5rem;
}

.main button {
  background-image: linear-gradient(
    to right,
    rgb(252, 182, 172),
    rgba(255, 125, 107, 1)
  );

  border-radius: 20px;
  display: inline-block;
  border: none;
}

.main h3 {
  color: white;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}

.cloud-footer-div {
  margin-top: 10vh;
  margin-left: 3vw;
  grid-row: 3/4;
  grid-column: 1/4;
}

.cloud-image {
  height: 20vh;
  width: 30vw;
  opacity: 0.8;
}

.second-grid-container {
  display: grid;
  grid-template-columns: 1.3fr 1.8fr;
  grid-template-rows: 1fr 3fr 3fr 1fr;
  background-color: RGB(235, 247, 246);
  height: 100vh;
}

.second-image-div {
  grid-column: 1/2;
  grid-row: 2/4;
  margin-left: 5vw;
}

.instruction {
  grid-column: 2/3;
  grid-row: 2/4;
  margin-right: 10rem;
}

.instruction .instruction-text {
  color: black;
  font-size: 1.3rem;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 600;
}

.instruction h3 {
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
}
