@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700,400,800");

.background {
  margin: 0;
  height: 100vh;
  background-color: RGB(235, 247, 246);
}

.main-grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1.3fr;
  grid-template-rows: 2fr 3fr 1fr;
  height: 100vh;
}

.main {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 13rem;
}

.navbar {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 5vh;
}

.navbar h3 {
  display: inline;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1.1rem;
  margin: 2rem;
}

.navbar h3:hover {
  display: inline;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1.1rem;
  margin: 2rem;
  color: rgba(240, 58, 45, 1);
}

.image-div {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 8vh;
}

.main h1 {
  margin: 0px;
  font-family: "Montserrat", Helvetica, Arial, serif;
  color: rgba(255, 125, 107, 1);
  font-size: 5em;
  font-style: normal;
  font-weight: 800;
}

.main h2 {
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  margin-right: 5rem;
}

.main Button {
  height: 8vh;
  margin-right: 2vw;
  background-image: linear-gradient(
    to right,
    rgb(252, 182, 172),
    rgba(255, 125, 107, 1)
  );
  border-radius: 20px;
  border: none;
}

.main Button:hover {
  background-image: linear-gradient(
    to right,
    rgb(252, 182, 172),
    rgba(255, 125, 107, 1)
  );
  bottom: 2px;
  transition: 0.3s;
}

.main Button:focus {
  background-image: linear-gradient(
    to right,
    rgb(252, 182, 172),
    rgba(255, 125, 107, 1)
  );
}

.main h3 {
  color: white;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}

.cloud-footer-div {
  margin-top: 10vh;
  margin-left: 6vw;
  grid-row: 3/4;
  grid-column: 1/4;
}

.cloud-image {
  height: 15vh;
  width: 28vw;
  margin-left: 1rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.second-grid-container {
  display: grid;
  grid-template-columns: 1.3fr 1.8fr;
  grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
  background-color: RGB(235, 247, 246);
  height: 100vh;
}

.second-image-div {
  grid-column: 1/2;
  grid-row: 2/4;
  margin-left: 5vw;
}

.instruction {
  grid-column: 2/3;
  grid-row: 2/4;
  margin-right: 10rem;
}

.instruction .instruction-text {
  color: black;
  font-size: 1.3rem;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 600;
}

.instruction h3 {
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
}

.warning-div {
  grid-column: 1/4;
  grid-row: 4/4;
  text-align: center;
  margin-top: 10vh;
  margin-left: 14vw;
  margin-right: 14vw;
}

.warning-div .warning-word {
  color: red;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0px;
}

.warning-div .warning-text {
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1.1rem;
  font-weight: 600;
}

.cloud-footer-div-second {
  margin-top: 0;
  grid-row: 5/5;
  grid-column: 1/-1;
}

.cloud-footer-div-second img {
  height: 15vh;
  width: 28vw;
  opacity: 0.8;
  margin-top: 0px;
  margin-left: 3rem;
  margin-right: 1rem;
}

.third-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 0.5fr 3.5fr 2fr 2fr;
  background-color: RGB(235, 247, 246);
  height: 100vh;
}

.third-grid-container .text h1 {
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}

.third-grid-container .text {
  margin-left: 10vw;
  margin-right: 10vw;
  grid-row: 2/4;
  grid-column: 1/5;
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.third-grid-container .teacher-image-div {
  grid-row: 3/4;
  grid-column: 2/4;
  text-align: center;
  margin-top: 5vh;
}

.cloud-footer-div-third {
  margin-top: 0;
  grid-row: 4/-1;
  grid-column: 1/-1;
}

.cloud-footer-div-third .cloud-image {
  height: 15vh;
  width: 28vw;
  opacity: 0.8;
  margin-top: 0px;
  margin-left: 3rem;
  margin-right: 1rem;
}

.chart-grid-container {
  display: grid;
  grid-template-columns: 1.3fr 1.8fr;
  grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
  background-color: RGB(235, 247, 246);
  height: 100vh;
}

.display-section-div {
  grid-row: 2/4;
  grid-column: 1/4;
}
